<p id="notice"><%= notice %></p>

<p>
  <strong>Daily avg temp:</strong>
  <%= @temperature.daily_avg_temp %>
</p>

<%= link_to 'Edit', edit_temperature_path(@temperature) %> |
<%= link_to 'Back', temperatures_path %>
